.idea
*.class
./.gradle

# Package Files #
**/build/**/*.jar
**/out
*.nupkg
.idea
*.iml

.gradle/

**/target
**/build
*.DS_Store


acceptance-tests/out/**

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# exclude jar for gradle wrapper
!gradle/wrapper/*.jar

# build files
**/target
target
.gradle
build
bin

# ignore generation files
.classpath
.openapi*
.project
.settings
.travis.yml
build.sbt

